.css-1p5q5e5-MuiStack-root {
    width: 350px;
    margin: 20px auto;
    button {
        color: white;
        width: 30px;
        margin: auto;
    }
    li {
        width: 50px;
        margin: auto;
    }
}
