.css-bhp9pd-MuiPaper-root-MuiCard-root {
    // height: 285px;
}
.css-o69gx8-MuiCardMedia-root {
    background: #f3f3f3;
    // border-radius: 30px;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    margin: 0 auto;
}
.css-h93ljk-MuiTypography-root {
    font-size: 18px!important;
}
.css-r40f8v-MuiTypography-root {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    height: 20px;
}
.date {
    margin: 0;
    font-size: 14px;
    float: right;
    color: rgb(153, 153, 153);
}