body {
  background-color: #282c34;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px
}

.App-link, a {
  color: #61dafb;
  transition: .3s;
  text-decoration: none;
  list-style-type: none;
  &:hover {
    color: #7167ff;
  }
}

ul {
  list-style-type: none;
  display: flex;
  margin: 10px 0;
  li {
    margin-right: 30px;
  }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
